In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('penguins_size.csv')

In [3]:
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [4]:
df = df.dropna()

In [5]:
df.isnull().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [6]:
X = pd.get_dummies(df.drop('species',axis=1),drop_first=True)

In [7]:
y = df['species']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
from sklearn.ensemble  import RandomForestClassifier

In [27]:
from sklearn.pipeline import Pipeline

In [28]:
from sklearn.model_selection import GridSearchCV

In [15]:
scaler = StandardScaler()

In [16]:
rfc = RandomForestClassifier()

In [29]:
operations = [('scaler',scaler),('rfc',rfc)]

In [32]:
n_estimators = list(range(1,100))                    #n_estimators

In [30]:
pipe = Pipeline(operations)

In [33]:
param_grid = {'rfc__n_estimators':n_estimators}

In [34]:
grid_model = GridSearchCV(pipe,param_grid,cv=5,scoring='accuracy')

In [35]:
grid_model.fit(X_train,y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('rfc', RandomForestClassifier())]),
             param_grid={'rfc__n_estimators': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                                               11, 12, 13, 14, 15, 16, 17, 18,
                                               19, 20, 21, 22, 23, 24, 25, 26,
                                               27, 28, 29, 30, ...]},
             scoring='accuracy')

In [36]:
grid_model.best_params_

{'rfc__n_estimators': 5}

In [37]:
y_pred = grid_model.predict(X_test)

In [38]:
from sklearn.metrics import classification_report,accuracy_score

In [39]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Adelie       0.98      1.00      0.99        41
   Chinstrap       1.00      0.96      0.98        23
      Gentoo       1.00      1.00      1.00        37

    accuracy                           0.99       101
   macro avg       0.99      0.99      0.99       101
weighted avg       0.99      0.99      0.99       101

In [44]:
print("Your accuracy on this dataset is: ",accuracy_score(y_test,y_pred)*100)

Your accuracy on this dataset is:  99.00990099009901